---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Инструкции:] Опубликовать и проанализировать результаты теста? | Документы Майкрософт'
author: rick-anderson
description: Visual Studio Team System позволяет диаграмме изменять качество кода проекта по мере продвижения проекта. В этом видео представлены инструкции по публ...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520878"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Инструкции:] Опубликовать и проанализировать результаты теста?

от [Крис менегэй](https://twitter.com/CMenegay)

Visual Studio Team System позволяет диаграмме изменять качество кода проекта по мере продвижения проекта. В этом видео представлены инструкции по публикации результатов тестов в базу данных проекта Team Foundation Server и связыванию результатов с номером сборки. Мы видим, что после публикации результатов можно использовать диспетчер отчетов для просмотра графического представления изменений в результатах тестирования сборки.

[&#9654;Смотреть видео (7 минут)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Назад](how-do-i-use-generic-tests.md)
> [Вперед](how-do-i-discover-application-changes-prior-to-deployment.md)
