---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Инструкции] Публикация и анализ результатов теста? | Документы Майкрософт'
author: rick-anderson
description: Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. Это видео содержит инструкции о том, как publ....
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: 0f1119340e4464720cfd16d0ff15764746ea1fea
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 04/17/2019
ms.locfileid: "59413507"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[Инструкции] Публикация и анализ результатов теста?

по [Криса Менегэй](https://twitter.com/CMenegay)

Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. Это видео содержит инструкции о том, как опубликовать результаты теста в базе данных проекта Team Foundation Server и связать результаты с номером сборки. Мы видим, после публикации результатов мы можно использовать диспетчер отчетов для его графическое представление об изменениях в наши результаты тестирования для сборки.

[&#9654;Просмотрите видео (7 минут)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Назад](how-do-i-use-generic-tests.md)
> [Вперед](how-do-i-discover-application-changes-prior-to-deployment.md)
